.Table {
    border-spacing: 0px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  }

  /* 298EAD */

  .Heading {
    border: 2px solid #298EAD;
    background: #298EAD;
    padding: 20px;
    text-align: center;
  }

  .Body {
    border: 2px solid white;
    background: white;
    padding: 20px;
    text-align: center;
  }

  .Cell {
    padding: 20px;
    text-align: center;
  }