/* Reference 1 - taken from https://gist.github.com/ShopifyEng/8b2c00599aef241b29098dfd4c02ef84 */

.Table {
    border-spacing: 0px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    width: 100vw;
  }

  .Heading {
    border: 2px solid #298EAD;
    background: #298EAD;
    padding: 20px;
    text-align: center;
    color: white;
  }

  .Body {
    border: 2px solid white;
    background: white;
    padding: 20px;
    text-align: center;
  }

  .Cell {
    padding: 20px;
    text-align: center;
  }

/* end of Reference 1 */