.login-style {
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #60BDD9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.inputs {
    padding-top: 20px;
}

.logo {
    width: 35vh;
    height: 35vh;
}
